{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Registro de cada Animal</title>
    <link rel="stylesheet" href="{% static 'register/styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'register/styles/all-meetups.css' %}">
</head>
<body>
    <h1>Animal</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar Alterações</button>
        <p><a href="/busca" class="btn"> Voltar para a página inical</a></p>
    </form>
</body>
</html>
